/* ejercicio6.css Grupo #01  */
CICLOII {background-color:darkcyan;display: inline;}

ESTUDIANTE {font-size: xx-large; display: inline-block;}
NOMBRE {color: whitesmoke}
APELLIDO {color: whitesmoke}
CARNET {color: whitesmoke}

TEXTO {display: block; color: white}

MATERIA { display: block; background-color: darkslategray;}
CODIGO { display: block; color: white}
NOMBRE { display: block; color: white}
TEORICO { display: block; color: white}
LABORATORIO { display: block; color: white}
